useDynLib(rsdeseq2, .registration = TRUE)
export(DESeq)
export(results)
export(resultsNames)
export(resolveResultsContrastRust)
export(resultsNamesRust)
export(waldFitRust)
export(lrtFitRust)
export(estimateSizeFactorsRust)
export(normalizedCountsRust)
export(baseMeanRust)
export(baseMetadataRust)
export(applyCooksCutoffRust)
export(resultsTableRust)
export(applyIndependentFilteringRust)
export(deseq2McolsDiagnosticsRust)
export(rsdeseq2DiagnosticSchemaRust)
export(estimateDispersionsRust)
export(nbinomWaldTestRust)
export(nbinomLRTRust)
